/* CSS Document For Stylized Beauty
   Design by super j man
   (http://www.jdavidmacor.com) 
   Ported to Drupal by ThemeBot 
   (http://themebot.com) */

/******** Basic Body ********/
	body { background: black url(images/bg.png) repeat-x 50% top;
		}
h2 {
		margin: 0;
		color: #000000;
		font-family: "Trebuchet MS", "Times New Roman";
		font-size: 22px;
		font-variant: small-caps;
		border-bottom: 1px solid #000000;
		}
		
	img {
		border: 0;
		}
#container { width: 760px; margin: 0 auto; padding: 0; }
 a {
		color: #C44000;
		text-decoration: none;
		}
a:visited {
		color: #C44000;
		text-decoration: none;
		}
a:hover {
		color: #c44000;
		text-decoration: underline;
		}
/******** Header ********/		
	#header {
		width: 760px;
		height: 155px;
		background: url(images/header.gif) top no-repeat;
		}
		
	.search form {
		float: right;
		font-size: 9px;
		margin-right: 25px;
		margin-top: 55px;
		}
	
	.search form img {
		vertical-align: bottom;
		}
.search input {
		background: #FFFFFF url(images/input.png) top left no-repeat;
		color: #999999;
		border: 0;
		font-size: 11px;
		padding: 3px;
		}
.search .form-submit {
		padding: 2px;
		background: #88ac0b url(images/menu-background.png) top left repeat-x;
		color: #FFFFFF;
		border: 0;
		font-size: 11px;
		}
		/******** Header Drupal Hacks ********/
.site-name { color: #ffffff; font-size: 40px; font-family: "Trebuchet MS", "Times New Roman"; text-decoration: none; margin: 0; padding: 0; }
.site-name a:link, .site-name a:visited { color: #ffffff; font-size: 40px; font-family: "Trebuchet MS", "Times New Roman"; text-decoration: none; margin: 0; padding: 0 0 0; }
#logo {
  vertical-align: middle;
  border: 0;
}
#logo img {
  float: left;
  padding: 1em 1em 0;
  border: 0;
}
.site-slogan { font-size: 1em; color: #eee; display: block; margin: 0; font-style: italic; font-weight: bold; padding-left: 2em; }
.site-name-cont { margin: 0; padding-top: 40px; padding-left: 2em; }
/******** Menu ********/
#navlist_container {
		width: 750px;
		background: #ffffff;
		height: 30px;
		padding-left: 5px;
		padding-right: 5px;
		}
#navlist {
		width: 100%;
		background: #88ac0b url(images/menu-background.png) top left repeat-x;
		float: left;
		font-size: 95%;
		white-space: nowrap;
		padding-right: 0px;
		margin-top: 0;
		margin-bottom: 0;
		}
* html #navlist {
		padding-right: 0;
		}
#navlist ul {
		margin: 0;
		padding: 0;
		list-style: none;
		float: left;
		border-left: 1px solid #95bc0e;
		border-right: 1px solid #95bf0f;
		width: 100%;
		}
#navlist li { float: left; padding: 0; display: inline; }
#navlist a:link, #navlist a:visited {
		padding: 0.25em 1em;
		background: transparent;
		color: #FFFFFF;
		text-decoration: none;
		float: left;
		border-right: 1px solid #95bc0e;
		}
#navlist a:hover {
		background: #b6e41c url(images/menu-hover.png) repeat-x;
		color: #485b06;
		}
/******** Main Content ********/		
	#main {
		width: 750px;
		background: #FFFFFF;
		padding: 5px;
		}
	
	#content { width: 540px; background: #ffffff;}
		
	.content p {
		text-align: justify;
		font: 0.8em/150% "Lucida Grande", "Lucida Sans Unicode", arial, sans-
		}
		
	.content a {
		color: #C44000;
		text-decoration: none;
		}
		
	.content a:visited {
		color: #C44000;
		text-decoration: none;
		}
		
	.content a:hover {
		color: #C44000;
		text-decoration: underline;
		}
		
	.dropcap {
		float: left;
		width: .67em;
		font-size: 3.1em;
		line-height: 95%;
		}
/******** Main Content Drupal Hacks ********/
#content ul { margin-left: 10px; }
.breadcrumb { color: #610000; text-decoration: none; margin-left: 10px; }
.breadcrumb a { color: #610000; text-decoration: none; }
#mission { background-color: #c1c1c1; padding: 1.5em 2em; color: #fff; margin-top: 5px; margin-right: 10px; margin-left: 10px; }
.comment { background-color: #efefef; margin: 10px; padding: 5px; border: solid 1px #88ac0b; }
.sticky { background-color: #efefef; padding: 5px; border: dotted 2px #88ac0b; }
.comment h3 { color: #000000; font-size: 22px; font-family: "Trebuchet MS", "Times New Roman"; font-variant: small-caps; margin: 0; }
#mission a, #mission a:visited {
  color: #9cf;
  font-weight: bold;
}
.title { margin: 0 0 5px; color: #000000; font-family: "Trebuchet MS", "Times New Roman"; font-size: 22px; font-variant: small-caps; }
.title a, .title a:visited { color: #000; font-size: 22px; font-family: "Trebuchet MS", "Times New Roman"; font-variant: small-caps; text-decoration: none; margin: 0; }
.title a:hover { color: #c44000; font-size: 22px; font-family: "Trebuchet MS", "Times New Roman"; font-variant: small-caps; text-decoration: none; margin: 0; }
.node {
  margin: .5em 0 2em 0;
}
.submitted { color: #aaa; }
.submitted a { color: #610000; text-decoration: none; }
.links a { color: #610000; text-decoration: none; }
.standard { display: inline; }
/******** Sidebar ********/		
	#sidebar { width: 195px; float: right; padding: 5px 0 0 0; }
		
	.sidebar_content{
		display: block
		}
		
	.sidebar_content *{
		display: block;
		height: 1px;
		overflow: hidden;
		background: #999999
		}
		
	.sidebar_content1{
		border-right: 1px solid #d3d3d3;
		padding-right: 1px;
		margin-right: 3px;
		border-left: 1px solid #d3d3d3;
		padding-left: 1px;
		margin-left: 3px;
		background: #b2b2b2;
		}
		
	.sidebar_content2{
		border-right: 1px solid #f4f4f4;
		border-left: 1px solid #f4f4f4;
		padding: 0px 1px;
		background: #acacac;
		margin: 0px 1px;
		}
		
	.sidebar_content3{
		border-right: 1px solid #acacac;
		border-left: 1px solid #acacac;
		margin: 0px 1px;
		}
		
	.sidebar_content4{
		border-right: 1px solid #d3d3d3;
		border-left: 1px solid #d3d3d3;
		}
		
	.sidebar_content5{
		border-right: 1px solid #b2b2b2;
		border-left: 1px solid #b2b2b2;
		}
.block{ color: #efefef; text-align: justify; font: 0.7em/130% "Lucida Grande", "Lucida Sans Unicode", arial, sans-se
		; background: #999; margin: 0; }
.block ul { margin: 0; padding: 0 0 0 5px; }
.block a {
		color: #ffffff;
		text-decoration: none;
		letter-spacing: 3px;
		}
		
	.block a:visited {
		color: #ffffff;
		text-decoration: none;
		letter-spacing: 3px;
		}
		
	.block a:hover {
		color: #ffffff;
		text-decoration: underline;
		letter-spacing: 3px;
		}
	
	.block h2 { margin: 0; color: #ffffff; font-family: "Trebuchet MS", "Times New Roman"; font-size: 20px; font-variant: small-caps; padding-left: 5px; border-style: none; }
.block .content { padding: 5px 10px 15px; }
/******** Footer ********/
#clearfloat { clear: right; }
#footer { color: #999; font-size: 9px; width: 750px; height: 73px; background: url(images/footer.gif) no-repeat 50% top; text-align: center; margin-top: 0; padding: 20px 5px 5px; }
#footer a {
		color: #000000;
		font-weight: 100;
		text-decoration: none;
		border-bottom: 1px dotted #000000;
		}
		
	#footer a:visited {
		color: #000000;
		font-weight: 100;
		text-decoration: none;
		border-bottom: 1px dotted #000000;
		}
			
	#footer a:hover {
		color: #000000;
		text-decoration: none;
		border-top: 1px dotted #000000;
		}
/******** Drupal Admin ********/
div.admin-panel,
div.admin-panel .description,
div.admin-panel .body,
div.admin,
div.admin .left,
div.admin .right,
div.admin .expert-link,
div.item-list,
.menu {
  margin: 0;
  padding: 0;
}
div.admin .left {
  float: left;
  width: 48%;
}
div.admin .right {
  float: right;
  width: 48%;
}
div.admin-panel {
  padding: 1em 1em 1.5em;
}
div.admin-panel .description {
  margin-bottom: 1.5em;
}
div.admin-panel dl {
  margin: 0;
}
div.admin-panel dd {
  color: #898989;

  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: -.2em;
  margin-bottom: .65em;
}
/********Generic Drupal Elements********/
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.preview {
  background-color: #fcfce8;
  border: 1px solid #e5e58f;
}
div.status {
  color: #3a3;
  border-color: #c7f2c8;
}

div.error {
  color: #c52020;
}
.form-item input.error, .form-item textarea.error {
  border: 1px solid #c52020;
  color: #494949;
}
/********Watchdog.module********/
tr.watchdog-user {
  background-color: #fcf9e5;
}
tr.watchdog-user td.active {
  background-color: #fbf5cf;
}
tr.watchdog-content {
  background-color: #fefefe;
}
tr.watchdog-content td.active {
  background-color: #f5f5f5;
}
tr.watchdog-warning {
  background-color: #fdf5e6;
}
tr.watchdog-warning td.active {
  background-color: #fdf2de;
}
tr.watchdog-error {
  background-color: #fbe4e4;
}
tr.watchdog-error td.active {
  background-color: #fbdbdb;
}
tr.watchdog-page-not-found, tr.watchdog-access-denied {
  background: #d7ffd7;
}
tr.watchdog-page-not-found td.active, tr.watchdog-access-denied td.active {
  background: #c7eec7;
}
/********Status report colors********/
table.system-status-report tr.error, table.system-status-report tr.error th {
  background-color: #fcc;
  border-color: #ebb;
  color: #200;
}
table.system-status-report tr.warning, table.system-status-report tr.warning th {
  background-color: #ffd;
  border-color: #eeb;
}
table.system-status-report tr.ok, table.system-status-report tr.ok th {
  background-color: #dfd;
  border-color: #beb;
}
